footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--racingGreen);
    background-color: var(--ebony);
    font-weight: bold;
}
